<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Controlador.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicionsesion</servlet-name>
        <servlet-class>Controlador.inicionsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciosesion</servlet-name>
        <servlet-class>Controlador.iniciosesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regristarusuario</servlet-name>
        <servlet-class>Controlador.regristarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultarlogin</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Consultarlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Regristarusuario</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Regristarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizarusuario</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Actualizarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cambiodecontraseña</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Cambiodecontraseña</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>publicarproducto</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.publicarproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminarproducto</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Eliminarproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarimagen</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.consultarimagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarproducto</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.listarproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detallesproducto</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Detallesproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfilusuario</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Perfilusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editarpublicacion</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Editarpublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_usuario</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Productos</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_Productos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicionsesion</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciosesion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regristarusuario</servlet-name>
        <url-pattern>/regristarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultarlogin</servlet-name>
        <url-pattern>/Consultarlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Regristarusuario</servlet-name>
        <url-pattern>/Regristarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizarusuario</servlet-name>
        <url-pattern>/Actualizarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cambiodecontraseña</servlet-name>
        <url-pattern>/Cambiodeclave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publicarproducto</servlet-name>
        <url-pattern>/publicarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminarproducto</servlet-name>
        <url-pattern>/eliminarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarimagen</servlet-name>
        <url-pattern>/consultarimagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarproducto</servlet-name>
        <url-pattern>/listarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detallesproducto</servlet-name>
        <url-pattern>/Detallesproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfilusuario</servlet-name>
        <url-pattern>/perfilusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editarpublicacion</servlet-name>
        <url-pattern>/Editarpublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_usuario</servlet-name>
        <url-pattern>/ingresar</url-pattern>
        <url-pattern>/regristar</url-pattern>
        <url-pattern>/editar</url-pattern>
        <url-pattern>/clave</url-pattern>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Productos</servlet-name>
        <url-pattern>/detalles</url-pattern>
        <url-pattern>/editarproducto</url-pattern>
        <url-pattern>/eliminar</url-pattern>
        <url-pattern>/publicar</url-pattern>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
